@import './colors.css';
@import './fonts/font-face.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

body {
  background-color: var(--ion-color-dark);
}

/** Ionic CSS Variables **/
:root {
  /** font **/
  --ion-font-family: 'Ubuntu';

  /** colors **/
  --white: #ffffff;
  --black: #000000;
  --gray1: #f8f8f8;
  --gray2: #f0f0f0;
  --gray3: #ececec;
  --gray4: #e8e8e8;
  --gray5: #bebebe;
  --gray6: #9c9c9c;
  --gray7: #6d6d6d;
  --gray8: #424242;
  --themeGray1: #2d2f38;
  --themeGray2: #202129;
  --alpha0: rgba(0, 0, 0, 0);
  --alpha25: rgba(0, 0, 0, 0.25);
  --alpha5: rgba(0, 0, 0, 0.5);

  /** variables **/
  --borderRadius: 16px;
  --inputSpacing: 32px;
  --boxShadow: 0px 2px 5px -1px var(--black);

  /** shade === darker **/
  /** tint === lighter **/

  /** primary **/
  --ion-color-primary: #53aeca;
  --ion-color-primary-rgb: 18, 162, 208;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #108fb7;
  --ion-color-primary-tint: #2aabd5;

  /** secondary **/
  --ion-color-secondary: #34ea4f;
  --ion-color-secondary-rgb: 73, 71, 214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #302ebd;
  --ion-color-secondary-tint: #6361f0;

  /** tertiary **/
  --ion-color-tertiary: #614ee2;
  --ion-color-tertiary-rgb: 39, 117, 80;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0e5c37;
  --ion-color-tertiary-tint: #418f6a;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #282b38;
  --ion-color-dark-rgb: 32, 33, 41;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #070810;
  --ion-color-dark-tint: #3a3b43;

  /** medium **/
  --ion-color-medium: #2c2f40;
  --ion-color-medium-rgb: 0, 0, 0;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #14161f;
  --ion-color-medium-tint: #474952;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.md {
  --ion-toolbar-background: transparent;
  --ion-toolbar-color: var(--white);
}

ion-popover:focus, ion-backdrop:focus, ion-modal:focus, ion-toast:focus {
  outline: none;
}

*[color='textSecondary'] {
  color: var(--gray6);
}

*[color='textPrimary'] {
  color: var(--black);
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

*[variant='body2'] {
  font-size: 0.875rem;
  line-height: 1.43;
}

*[variant='subtitle1'] {
  font-size: 1rem;
  line-height: 1.75;
}

*[variant='subtitle2'] {
  font-size: 0.875rem;
  line-height: 1.57;
}

*[variant='caption'] {
  font-size: 0.7rem;
  line-height: 1.66;
}

p[display='inline'] {
  display: inline-block;
}

*[align='left'] {
  text-align: left;
}

*[align='right'] {
  text-align: right;
}

*[align='center'] {
  text-align: center;
}

p[wrap='break'] {
  word-break: break-word;
  white-space: normal;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.167;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.167;
}

h4 {
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.235;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.334;
}

h6 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
}
