@import './colors.css';
@import './fonts/font-face.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

/** Ionic CSS Variables **/
:root {
  /** font **/
  --ion-font-family: 'Rubik';

  /** colors **/
  --white: #ffffff;
  --black: #000000;
  --gray1: #f8f8f8;
  --gray2: #f0f0f0;
  --gray3: #ececec;
  --gray4: #d0d0d0;
  --gray5: #bebebe;
  --gray6: #9c9c9c;
  --gray7: #6d6d6d;
  --gray8: #424242;
  --themeGray1: #2d2f38;
  --themeGray2: #202129;
  --alpha0: rgba(0, 0, 0, 0);
  --alpha10: rgba(0, 0, 0, 0.1);
  --alpha5: rgba(0, 0, 0, 0.5);

  /** variables **/
  --borderRadius: 14px;
  --inputSpacing: 32px;
  --boxShadow: 0px 2px 5px -1px var(--black);

  /** shade === darker **/
  /** tint === lighter **/

  /** primary **/
  --ion-color-primary: #01a9f2;
  --ion-color-primary-rgb: 1, 169, 242;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005da6;
  --ion-color-primary-tint: #4ef6ff;

  /** secondary **/
  --ion-color-secondary: #172d9d;
  --ion-color-secondary-rgb: 23, 45, 157;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #000051;
  --ion-color-secondary-tint: #647aea;

  /** tertiary **/
  --ion-color-tertiary: #01f2c2;
  --ion-color-tertiary-rgb: 23, 45, 157;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0e5c37;
  --ion-color-tertiary-tint: #418f6a;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #282b38;
  --ion-color-dark-rgb: 32, 33, 41;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #070810;
  --ion-color-dark-tint: #3a3b43;

  /** medium **/
  --ion-color-medium: #2c2f40;
  --ion-color-medium-rgb: 0, 0, 0;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #14161f;
  --ion-color-medium-tint: #474952;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-popover:focus,
ion-backdrop:focus,
ion-modal:focus,
ion-toast:focus {
  outline: none;
}

*[color='textSecondary'] {
  color: var(--gray6);
}

*[color='textPrimary'] {
  color: var(--black);
}

p {
  font-size: 0.875rem;
}

*[variant='body2'] {
  font-size: 0.875rem;
}

*[variant='subtitle1'] {
  font-size: 1rem;
}

*[variant='subtitle2'] {
  font-size: 0.875rem;
}

*[variant='caption'] {
  font-size: 0.75rem;
}

*[gutterbottom='1'] {
  margin-bottom: 8px;
}

p[display='inline'] {
  display: inline-block;
}

*[align='left'] {
  text-align: left;
}

*[align='right'] {
  text-align: right;
}

*[align='center'] {
  text-align: center;
}

p[wrap='break'] {
  word-break: break-word;
  white-space: normal;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5625rem;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

h6 {
  font-size: 1.125rem;
  font-weight: 500;
}
